body, html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(../images/fundo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    border:solid 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    transition: all 1s;
}
h1{
    font-size: 3rem;
    font-weight: 600;
    color: whitesmoke;
    transition: all 1s;
}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    border-radius: 3px;
    max-width: 65px;
    opacity: 1;  
    transition: all 1s;
}
hr:hover{
    transform: scaleX(5);
    border-radius: 1.5px;
}
.find-out{
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: solid 0;
    border-radius: 2rem;
    transition: all 1s;
}
.find-out:hover{
    transform: scale(1.3);
    background-color: #f0735d;
}
.btn-primary{
    background-color: #F05F44;
}
.buffer{
    height: 5rem;
}